<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Lets test IONIC-FLUTTER?</strong>
    <p>
      <ion-button (click)="launchFlutter()">Send Hi To Flutter</ion-button>
    </p>


    <ion-card>
      <ion-card-header>
        Message From Flutter
      </ion-card-header>
      <ion-card-content>
        <p>{{ flutterMessage }}</p>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>
